set default=0
set timeout=5

insmod all_video
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660

menuentry "Silentium Live (x86_64, linux-zen)" {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% apparmor=1 security=apparmor quiet
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Silentium Live (failsafe)" {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% apparmor=1 security=apparmor systemd.unit=multi-user.target
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen-fallback.img
}
